:root {
    --primary-font: helvetica;
}
/*HEADER FOR ALL PAGES*/
header {
    margin: 50px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 0 30px 0 30px;
    font-family: var(--primary-font);
}

/*HOME*/
.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--primary-font);
}
.about {
    width: 45%;
    border: solid 2px black;
    margin: 0 10px 0 10px;
}
.hero-gallery {
    width: 45%;
    border: solid 2px black;
    margin: 0 10px 0 10px;
    text-align: center;
}
footer {
    text-align: center;
    margin: 50px;
    font-family: var(--primary-font);
}

/*SHOP*/
.shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--primary-font);
}
.scroll-gallery {
    height: max-content;
    width: 100%;
    margin: 20px;
    text-align: center;
}
.scroll-gallery img {
    margin: 15px;
}
.categories {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.category {
    flex: 1 33%;
}

/* UNDER CONSTRUCTION
/*CUSTOM ORDERS
.custom-order-content
.contact-order-form

/*FAQ
.faq-content

/*CONTACT
.contact-content
.contact-form
*/